{% include 'header.html' %}
<br/>
<a href="{{url_for('create')}}" class="btn btn-success">
    Ingresar nuevo empleado
</a>
<br>
<br>

<table class="table table-light">
    <thead class="thead-light">

        <tr>
            <th>#</th>
            <th>FOTO</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>ACCIONES</th>
        </tr>

    </thead>
    <tbody>
        <!-- JINJA2 -->
        {% for empleados in empleados %}
        <tr>
            <td>{{empleados[0]}}</td>

            <td>
                <img class="img-thumbnail" width="100" src="uploads/{{empleados[3]}}" alt="">
            </td>

            <td>{{empleados[1]}}</td>            
            <td>{{empleados[2]}}</td>            
            <td>
                <a class="btn btn-warning" href="/edit/{{empleados[0]}}">Editar</a>
                |
                <a onclick="return confirm('Esta seguro?')" class="btn btn-danger" href="/destroy/{{empleados[0]}}">Eliminar</a>
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}
